<main class="container mt-5">
        <div class="row justify-content-center">
            <h1 class="text-center mb-4"> {{validToken.user.first_name}} let´s reset your password <i class="fas fa-key"></i></h1>
            <div class="col-md-6">
                <div class="password-form-container p-4 animate__animated animate__fadeIn">
                    <form action="/api/session/restablishpassword" method="POST">
                        <div class="mb-3">
                            <label for="pass" class="form-label">New password</label>
                            <input name="password" type="password" id="pass" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="repass" class="form-label">Reenter your new password please</label>
                            <input name="reenteredPassword" type="password" id="repass" class="form-control">
                        </div>
                        <input name="token" type="hidden" class="d-none" value={{token}}>
                        <small id="passDontMatchMsg" class="text-danger d-none">Passwords do not match</small>
                        <div class="text-center"> 
                             <button type="submit" id="resetBtn" class="btn btn-primary password-btn-submit">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

<script>
    const passInput = document.getElementById("pass");
    const repassInput = document.getElementById("repass");
    const passwordMismatchMsg = document.getElementById("passDontMatchMsg");
    const resetBtn = document.getElementById("resetBtn");

    repassInput.addEventListener("input", () => {
        const password = passInput.value
        const repassword = repassInput.value

        if (password !== repassword) {
            passwordMismatchMsg.classList.remove("d-none")
            passwordMismatchMsg.classList.add("d-block")
            resetBtn.disabled = true 
        } else {
            passwordMismatchMsg.classList.remove("d-inline")
            passwordMismatchMsg.classList.add("d-none")
            resetBtn.disabled = false 
        }
    })
</script>

