<main>

    <section class="user-section">
        <header class="user-header">
            <h1 class="user-title">User Management Panel</h1>
        </header>
        <div class="user-form-container">
            <form id="search-form" class="search-form">
                <div class="form-group d-flex align-items-center">
                    <label for="user-email" class="form-label">Enter User Email:</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="user-email" name="email"
                            placeholder="example@example.com">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
            <div id="user-details" class="user-details"></div>
        </div>
    </section>

    <section class="user-section">
        <header class="user-header">
            <h1 class="user-title">Users with Documents</h1>
        </header>
        <div id="users-with-documents" class="user-details"></div>
    </section>

</main>

<script src="/static/js/Users.js"></script>